# Project - Play with DataFrames

## Goal of Project
- Master pandas DataFrame

### Step 1: Import pandas
- Execute the cell below (SHIFT + ENTER)

In [1]:
import pandas as pd

### Step 2: Read the data
- Use ```pd.read_csv()``` to read the file `files/population.csv`
- NOTE: Remember to assign the result to a variable (e.g., ```data```)

In [2]:
data=pd.read_csv('files/population.csv')

### Step 3: Investigate the data types
- Use ```.dtypes```

In [3]:
data.dtypes

Country        object
Year            int64
Population    float64
dtype: object

### Step 4: Convert Year to Datetime
- ```pd.to_datetime(...)```: Convert to a datetime
- ```format='%Y'```: Format of input, here it is the year.

In [4]:
data.head()

   Country  Year  Population
0  Denmark  2000         5.3
1  Denmark  2010         5.5
2  Denmark  2020         5.8
3   Sweden  2000         8.8
4   Sweden  2010         9.3

In [5]:
data['Year']=pd.to_datetime(data['Year'],format='%Y')

In [6]:
data

   Country       Year  Population
0  Denmark 2000-01-01         5.3
1  Denmark 2010-01-01         5.5
2  Denmark 2020-01-01         5.8
3   Sweden 2000-01-01         8.8
4   Sweden 2010-01-01         9.3
5   Sweden 2020-01-01        10.2

In [7]:
data.dtypes

Country               object
Year          datetime64[ns]
Population           float64
dtype: object

### Step 5: Scale Population to millions
- HINT: ```data['Population']*1000``` scales by 1000

In [12]:
data['Population']=data['Population']*1000

### Step 6: Calculate mean population for each country
- HINT: ```data.groupby('Country')``` groups the data

In [13]:
data.groupby('Country').mean()

          Population
Country
Denmark  5533.333333
SW       9433.333333

### Step 7: Replace Denmark to DNK
- Given a column you can access the string functions on it with ```.str```
    - This enables you to apply string functions on it
    - HINT: ```data['Country'].str.replace('Denmark', 'DNK')```

In [14]:
data['Country']=data['Country'].str.replace('Sweden','SW')

In [15]:
data

   Country       Year  Population
0  Denmark 2000-01-01      5300.0
1  Denmark 2010-01-01      5500.0
2  Denmark 2020-01-01      5800.0
3       SW 2000-01-01      8800.0
4       SW 2010-01-01      9300.0
5       SW 2020-01-01     10200.0