# Databases

![Data Science Workflow](img/ds-workflow.png)

## Acquire Data
### Common Data Sources
- The Internet - Web Scraping
- **Databases**
- CSV
- Excel
- Parquet

### Database
- **Relational databases** models data in rows and columns in a series of tables.
- Like a collection of **DataFrames/Excel sheets**.
- **SQL** (often pronounced *sequel*): Structured Query Language
- Non-relational databases [NoSQL](https://en.wikipedia.org/wiki/NoSQL)

### SQLite database
- [SQLite database](https://www.sqlite.org/index.html) software library that provides a relational database management system
- Lightweight to setup, administrate, and requires low resources.

### Dataset (in a SQLite database)
- Dallas Police Officer-Involved Shootings
- Has three tables: **incidents, officers, subjects**

#### Other SQLite datasets
- [SQLite Data Starter Packs](http://2016.padjo.org/tutorials/sqlite-data-starterpacks/)
- [Iris Species (Kaggle)](https://www.kaggle.com/uciml/iris)
- [European Soccer Database (Kaggle)](https://www.kaggle.com/hugomathien/soccer)

### Database connector
- The [sqlite3](https://docs.python.org/3/library/sqlite3.html) is an interface for SQLite databases.
- No installation needed.

#### Other database connectors for Python
* [MySQL Connector](https://dev.mysql.com/doc/connector-python/en/) for MySQL
* [Psycopg](http://initd.org/psycopg/docs/install.html) for PostgreSQL
* [pymssql](http://pymssql.org/en/stable/) for Microsoft MS SQL

To import and connect to a SQLite database.
```Python
import sqlite3
conn = sqlite3.connect('files/dallas-ois.sqlite')
```

In [1]:
import sqlite3

In [2]:
conn=sqlite3.connect('files/dallas-ois.sqlite')

The interface to the datases is through the `cursor`.

```Python
cursor = conn.cursor()
```

The `execute` method allows to run `SQL` queries on our database.

To get a list of all the tables the following query can be applied.

```SQL
SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
```

The result is fetched with the `fetchall()` method.

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute("SELECT name FROM sqlite_master  WHERE type='table' ORDER BY name")

In [5]:
cursor.fetchall()

[('incidents',), ('officers',), ('subjects',)]

To get a description of a table (SQLite specific)

```SQL
PRAGMA table_info(officers)
```

In [6]:
cursor.execute("PRAGMA table_info(incidents)").fetchall()

[(0, 'case_number', 'TEXT', 0, None, 0),
 (1, 'date', 'DATE', 0, None, 0),
 (2, 'location', 'TEXT', 0, None, 0),
 (3, 'subject_statuses', 'TEXT', 0, None, 0),
 (4, 'subject_weapon', 'TEXT', 0, None, 0),
 (5, 'subjects', 'TEXT', 0, None, 0),
 (6, 'subject_count', 'INTEGER', 0, None, 0),
 (7, 'officers', 'TEXT', 0, None, 0),
 (8, 'officer_count', 'INTEGER', 0, None, 0),
 (9, 'grand_jury_disposition', 'TEXT', 0, None, 0),
 (10, 'attorney_general_forms_url', 'TEXT', 0, None, 0),
 (11, 'summary_url', 'TEXT', 0, None, 0),
 (12, 'summary_text', 'TEXT', 0, None, 0),
 (13, 'latitude', 'FLOAT', 0, None, 0),
 (14, 'longitude', 'FLOAT', 0, None, 0)]

In [7]:
cursor.execute("PRAGMA table_info(officers)").fetchall()

[(0, 'case_number', 'TEXT', 0, None, 0),
 (1, 'race', 'TEXT', 0, None, 0),
 (2, 'gender', 'TEXT', 0, None, 0),
 (3, 'last_name', 'TEXT', 0, None, 0),
 (4, 'first_name', 'TEXT', 0, None, 0),
 (5, 'full_name', 'TEXT', 0, None, 0)]

### SQL syntax
Get all data from table
```SQL
SELECT * FROM table_name
```

Limit the response
```SQL
SELECT * FROM table_name LIMIT 100
```

Filter data
```SQL
SELECT * FROM table_name WHERE column_name > 1
```

### Import data into DataFrame
Example of how to read data into a DataFrame from a SQL statement
```Python
import pandas as pd

officers = pd.read_sql('SELECT * FROM officers', conn)
```

In [8]:
import pandas as pd

In [9]:
officers=pd.read_sql('select * from officers,incidents',conn)

In [10]:
officers

,case_number,race,gender,last_name,first_name,full_name,case_number,date,location,subject_statuses,...,subjects,subject_count,officers,officer_count,grand_jury_disposition,attorney_general_forms_url,summary_url,summary_text,latitude,longitude
0,44523A,L,M,Patino,Michael,"Patino, Michael",44523A,2013-02-23,3000 Chihuahua Street,Injured,...,"Curry, James L/M",1,"Patino, Michael L/M; Fillingim, Brian W/M",2,No Bill,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Saturday, February 23, 2013, at approximate...",NaN,NaN
1,44523A,L,M,Patino,Michael,"Patino, Michael",121982X,2010-05-03,1300 N. Munger Boulevard,Injured,...,"Chavez, Gabriel L/M",1,"Padilla, Gilbert L/M",1,No Bill,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Monday, May 3, 2010, at approximately 8:06 ...",NaN,NaN
2,44523A,L,M,Patino,Michael,"Patino, Michael",605484T,2007-08-12,200 S. Stemmons Freeway,Other,...,"Salinas, Nick L/M",1,"Poston, Jerry W/M",1,See Summary,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Sunday, August 12, 2007, at approximately 2...",NaN,NaN
3,44523A,L,M,Patino,Michael,"Patino, Michael",384832T,2007-05-26,7900 S. Loop 12,Shoot and Miss,...,"Smith, James B/M; Dews, Antonio B/M; Spearman,...",3,"Mondy, Michael B/M",1,None,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Saturday, May 26, 2007, at approximately 1:...",NaN,NaN
4,44523A,L,M,Patino,Michael,"Patino, Michael",244659R,2006-04-03,6512 South Loop 12,Injured,...,"Watkins, Caleb B/M",1,"Armstrong, Michael W/M",1,No Bill,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Monday, April 3, 2006, at approximately 11:...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81025,165193-2016,B,M,Stuart,Kristopher,"Stuart, Kristopher",161616-2016,2016-07-03,7440 Chesterfield Drive,Shoot and Miss,...,"Brown, Desroy B/M",1,"Crenshaw, Joshua W/M",1,None,None,http://dallaspolice.net/reports/OIS/narrative/...,7440 Chesterfield Drive 161616-2016\n\nOn July...,32.65628,-96.869793
81026,165193-2016,B,M,Stuart,Kristopher,"Stuart, Kristopher",141461-2016,2016-06-11,2700 Custer Drive,Shoot and Miss,...,Unknown B/M,1,"Moore, Douglas B/M",1,None,None,http://dallaspolice.net/reports/OIS/narrative/...,"2700 Custer Drive 141461-2016\n\nOn June 11, 2...",32.70483,-96.779494
81027,165193-2016,B,M,Stuart,Kristopher,"Stuart, Kristopher",089985-2016,2016-04-16,4800 Columbia Ave,Shoot and Miss,...,Unknown L/M,1,"Ruben, Fredirick W/M",1,None,None,http://dallaspolice.net/reports/OIS/narrative/...,4800 Columbia Avenue 089985-2016\n\nOn April 1...,32.79473,-96.764017
81028,165193-2016,B,M,Stuart,Kristopher,"Stuart, Kristopher",177645-2016,2016-07-23,1716 Chattanooga Place,Shoot and Miss,...,Unknown B/M,1,"Rosen, Brett W/M",1,None,None,None,None,32.81664,-96.851409
81029,165193-2016,B,M,Stuart,Kristopher,"Stuart, Kristopher",165193-2016,2016-07-07,801 Main Street,Deceased,...,"Johnson, Micah B/M",1,"Edwards, Henry W/M; Wells, Giovanni B/M; Junge...",12,None,None,None,None,32.77945,-96.804915

### SQL join syntax
`(INNER) JOIN`: returns records that have matching values in both tables
```SQL
SELECT * FROM table_1 JOIN table_2 ON table_1.column_name_1=table_2.column_name_2
```

`LEFT JOIN`: returns all records from the left table, and the matched records from the right table
```SQL
SELECT * FROM table_1 LEFT JOIN table_2 ON table_1.column_name_1=table_2.column_name_2
```